(
    version: 1,
    entities: [
        (
            name: Some(("Camera")),
            transform: Some((translation: (0.0, 8.0, 16.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (1.0, 1.0, 1.0))),
            camera: Some((yaw: 0.0, pitch: -0.45, fov: 0.7853982)),
        ),
        (
            name: Some(("Drum 0x0")),
            transform: Some((translation: (-7.0, 0.0, -7.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 0x1")),
            transform: Some((translation: (-7.0, 0.0, -4.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 0x2")),
            transform: Some((translation: (-7.0, 0.0, -1.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 0x3")),
            transform: Some((translation: (-7.0, 0.0, 2.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 0x4")),
            transform: Some((translation: (-7.0, 0.0, 5.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 0x5")),
            transform: Some((translation: (-7.0, 0.0, 8.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 1x0")),
            transform: Some((translation: (-4.0, 0.0, -7.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 1x1")),
            transform: Some((translation: (-4.0, 0.0, -4.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 1x2")),
            transform: Some((translation: (-4.0, 0.0, -1.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 1x3")),
            transform: Some((translation: (-4.0, 0.0, 2.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 1x4")),
            transform: Some((translation: (-4.0, 0.0, 5.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 1x5")),
            transform: Some((translation: (-4.0, 0.0, 8.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 2x0")),
            transform: Some((translation: (-1.0, 0.0, -7.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 2x1")),
            transform: Some((translation: (-1.0, 0.0, -4.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 2x2")),
            transform: Some((translation: (-1.0, 0.0, -1.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 2x3")),
            transform: Some((translation: (-1.0, 0.0, 2.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 2x4")),
            transform: Some((translation: (-1.0, 0.0, 5.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 2x5")),
            transform: Some((translation: (-1.0, 0.0, 8.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 3x0")),
            transform: Some((translation: (2.0, 0.0, -7.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 3x1")),
            transform: Some((translation: (2.0, 0.0, -4.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 3x2")),
            transform: Some((translation: (2.0, 0.0, -1.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 3x3")),
            transform: Some((translation: (2.0, 0.0, 2.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 3x4")),
            transform: Some((translation: (2.0, 0.0, 5.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 3x5")),
            transform: Some((translation: (2.0, 0.0, 8.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 4x0")),
            transform: Some((translation: (5.0, 0.0, -7.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 4x1")),
            transform: Some((translation: (5.0, 0.0, -4.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 4x2")),
            transform: Some((translation: (5.0, 0.0, -1.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 4x3")),
            transform: Some((translation: (5.0, 0.0, 2.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 4x4")),
            transform: Some((translation: (5.0, 0.0, 5.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 4x5")),
            transform: Some((translation: (5.0, 0.0, 8.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 5x0")),
            transform: Some((translation: (8.0, 0.0, -7.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 5x1")),
            transform: Some((translation: (8.0, 0.0, -4.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 5x2")),
            transform: Some((translation: (8.0, 0.0, -1.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 5x3")),
            transform: Some((translation: (8.0, 0.0, 2.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 5x4")),
            transform: Some((translation: (8.0, 0.0, 5.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
        (
            name: Some(("Drum 5x5")),
            transform: Some((translation: (8.0, 0.0, 8.0), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
        ),
    ],
    world: Some((
        sun: (
            azimuth: 80.0,
            elevation: 55.0,
            intensity: 1.0,
            shadow_softness: 2.5,
        ),
        sky: (
            haze: 1.85,
            ap_enabled: true,
        ),
        moon: (
            azimuth: 215.0,
            elevation: 40.0,
        ),
        clouds: (
            enabled: true,
            coverage: 0.9,
            cloud_type: 0.5,
            altitude: 1.5,
            thickness: 3.0,
            wind_speed: 0.0,
            wind_dir: 0.0,
            temp_c: -17.1,
        ),
        weather: (
            rain: 0.0,
            snow: 25.0,
            gustiness: 0.35,
            radius: 30.0,
            density: 1.2,
            size_scale: 1.2,
            opacity: 1.3,
            wetness: 0.0,
            puddles: 0.0,
            snow_cover: 1.0,
            snow_haze: 0.19,
            snow_fill_s: 30.0,
            snow_shed_m: 2.5,
            snow_depth: 1.0,
            pack_age_h: 0.0,
            transition_s: 0.5,
            time_scale: 600.0,
        ),
        present: Some([
            Sun,
            Moon,
            Sky,
            Clouds,
            Snow,
            Rain,
        ]),
    )),
)