(
    version: 1,
    entities: [
        (
            name: Some(("Paladin")),
            transform: Some((translation: (27.14178, -4.8026423, 5.8823953), rotation: (0.0, -0.55826527, 0.0, 0.82966256), scale: (0.9999996, 1.0, 0.9999996))),
            mesh: Some((source: Path("assets/models/Paladin"), framing: Unit, cast_shadows: true, snow_ground: true)),
            anim: Some((clip: 24, time: 5251.738, playing: true, speed: 1.0, looping: true)),
            body: Some((kind: Dynamic, mass: 0.0, linear_damping: 0.0, angular_damping: 0.049999997, gravity_scale: 1.0, upright: true, ccd: false)),
            collider: Some((shape: Capsule, radius: 0.35, half_height: 0.59999996, offset: (0.0, 0.95, 0.0), friction: 0.7, restitution: 0.0, density: 2000.0, sensor: false)),
            motor: Some((max_speed: 4.5, acceleration: 20.0, air_control: 0.29999998, jump_height: 1.1, max_slope_deg: 50.0)),
            script: Some((path: "assets/scripts/paladin_controller.rhai")),
            forward: Some(PosZ),
            prefab_instance: Some((source: "assets/prefabs/Paladin.ron")),
        ),
        (
            name: Some(("Follow Cam")),
            parent: Some(0),
            script: Some((path: "assets/scripts/follow_target.rhai")),
            chase: Some((distance: 3.5, height: 1.4000001, fov_y: 1.2391838)),
            primary_camera: true,
        ),
        (
            name: Some(("Drum")),
            transform: Some((translation: (-5.888683, 12.173908, 0.7936314), rotation: (0.0, 0.0, 0.0, 1.0), scale: (0.1, 0.1, 0.1))),
            mesh: Some((source: Path("assets/models/Drum.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
            body: Some((kind: Dynamic, mass: 0.0, linear_damping: 0.0, angular_damping: 0.049999997, gravity_scale: 1.0, upright: false, ccd: false)),
            collider: Some((shape: Capsule, radius: 0.7, half_height: 1.0, offset: (0.0, 0.8, 0.0), friction: 0.55, restitution: 0.0, density: 1000.0, sensor: false)),
        ),
        (
            name: Some(("wooden crate")),
            transform: Some((translation: (-5.8207893, 15.526555, 0.7219194), rotation: (0.0, 0.0, 0.0, 1.0), scale: (1.0, 1.0, 1.0))),
            mesh: Some((source: Path("assets/models/wooden_crate.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
            body: Some((kind: Dynamic, mass: 0.0, linear_damping: 0.0, angular_damping: 0.049999997, gravity_scale: 1.0, upright: false, ccd: false)),
            collider: Some((shape: Cuboid((0.55, 0.45, 0.5)), radius: 0.35, half_height: 0.59999996, offset: (0.0, 0.5, 0.0), friction: 0.7, restitution: 0.0, density: 600.0, sensor: false)),
        ),
        (
            name: Some(("wooden crate")),
            transform: Some((translation: (-7.5318494, 12.152249, -2.5386462), rotation: (0.0, 0.0, 0.0, 1.0), scale: (1.0, 1.0, 1.0))),
            mesh: Some((source: Path("assets/models/wooden_crate.glb"), framing: r#None, cast_shadows: true, snow_ground: true)),
            body: Some((kind: Dynamic, mass: 0.0, linear_damping: 0.0, angular_damping: 0.049999997, gravity_scale: 1.0, upright: false, ccd: false)),
            collider: Some((shape: Cuboid((0.55, 0.45, 0.5)), radius: 0.35, half_height: 0.59999996, offset: (0.0, 0.5, 0.0), friction: 0.7, restitution: 0.0, density: 600.0, sensor: false)),
        ),
        (
            name: Some(("Lake 12")),
            transform: Some((translation: (-86.385574, -39.37132, -1.1392087), rotation: (0.0, 0.0, 0.0, 1.0), scale: (1.0, 1.0, 1.0))),
            lake: Some((radius: 30.0, points: [], depth: 38.0, raised: -30.999998, dig: 1.0, clarity: 20.5)),
        ),
        (
            name: Some(("River 13")),
            transform: Some((translation: (-49.90652, 6.606172, -35.46224), rotation: (0.0, 0.0, 0.0, 1.0), scale: (1.0, 1.0, 1.0))),
            river: Some((points: [(-43.013195, 123.05588), (10.281776, 112.19003), (29.015018, 69.036255), (-18.507465, 51.722916)], width: 5.0, depth: 2.0, widen: 1.0, clarity: 3.0)),
        ),
    ],
    world: Some((
        camera: (
            eye: (41.697216, 10.074411, -19.761312),
            yaw: 4.096054,
            pitch: -0.25398695,
            fov: 0.7853982,
            speed: 30.0,
        ),
        sun: (
            azimuth: 35.0,
            elevation: 55.0,
            intensity: 1.0,
            shadow_softness: 10.0,
        ),
        sky: (
            haze: 1.85,
            ap_enabled: true,
        ),
        moon: (
            azimuth: 215.0,
            elevation: 40.0,
        ),
        clouds: (
            enabled: true,
            coverage: 0.9,
            cloud_type: 0.5,
            altitude: 1.5,
            thickness: 3.0,
            wind_speed: 0.0,
            wind_dir: 0.0,
            temp_c: -17.1,
        ),
        weather: (
            rain: 0.0,
            snow: 0.0,
            gustiness: 0.35,
            radius: 30.0,
            density: 1.2,
            size_scale: 1.2,
            opacity: 1.3,
            wetness: 0.0,
            puddles: 0.0,
            snow_cover: 0.0,
            snow_haze: 0.19,
            snow_fill_s: 30.0,
            snow_shed_m: 2.5,
            snow_depth: 1.0,
            pack_age_h: 0.00078441534,
            transition_s: 0.5,
            time_scale: 600.0,
        ),
        present: Some([
            Sun,
            Moon,
            Sky,
            Clouds,
            Snow,
            Rain,
        ]),
        terrain: Some((
            points: [(position: (-22.781563, 5.665283, -19.323042), flat: 0.0, roughness: 0.3, surface: 1), (position: (-55.539497, -9.663308, -19.54946), flat: 0.0, roughness: 0.2, surface: 1), (position: (17.138712, 25.0, 31.685484), flat: 0.0, roughness: 0.35, surface: 0), (position: (-54.254017, 26.70222, 15.8432865), flat: 0.0, roughness: 0.5, surface: 0), (position: (-2.093804, -4.938713, 9.293928), flat: 0.0, roughness: 0.65, surface: 1), (position: (42.741135, -10.0871315, 26.430933), flat: 0.0, roughness: 0.35, surface: 1), (position: (-21.57669, 24.386133, 21.735155), flat: 0.0, roughness: 0.35, surface: 0), (position: (-86.12963, -93.575775, -148.79057), flat: 0.0, roughness: 0.35, surface: 0), (position: (-87.84139, 8.6, -78.990265), flat: 0.0, roughness: 0.35, surface: 0), (position: (-78.97136, 62.491936, 66.295105), flat: 0.0, roughness: 0.35, surface: 0)],
            margin: 30.0,
            detail: 1.7,
            grain: 10.0,
            seed: 0,
            bake: 257,
            width: 15.0,
            length: 10.0,
            pitch: 0.25,
            friction: 0.9,
            surface: "leafy_grass",
            surfaces: ["coast_sand_03"],
            cliff: "rock_face_03",
            tile: 2.5,
        )),
        ocean: Some((
            level: -44.999996,
            height: 1.1999999,
            length: 105.0,
            steepness: 0.48,
            spread: 0.51,
            clarity: 6.0,
            pitch: 3.2,
        )),
    )),
)